.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  .topnav h2{
    float: left;
    color: #f2f2f2;
    font-size: large;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    
  }
  .topnav a.active {
    background-color: #4CAF50;
    color:white;
  
  }
  
  .topnav .current{
      background-color: lawngreen;
  }

  body {
       background-color: aliceblue;
       padding: 15px;
       margin: 0px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       /*text-align: center;*/
       border: 25px;
  }
  p{
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 32px;
  }
  .app {
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  .github{
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .stack{
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
   
  }
  h1{
    font-size: 36px;
  }
  .intro{
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
