<!DOCTYPE html>
<html>
    <head>
       
              <link rel = "stylesheet" href="../css/css.css">
          
       
    </head>
      <body>
          <div class="topnav">
              
              <a  href ="Github.html">Github</a>
              <a  class="active" href="app.html">App Tutorial</a>
              <a  href="stack.html">stack Tutorial</a>
              <a  href="index.html">Home</a>
              <h2 class="logo">GROUP NAME</h2>
              
            </div>
            <div class="app">
                <h2> web application on a MEAN stack tutorial</h2>
                <p>This is a link to the Web application tutorial that was created for this project. If you'd like to see a demonstration of the MEAN stack on a web app, please click below and utilize our step by step process.</p>
                 <a href="https://docs.google.com/document/d/1Kiya3Be_Vr8RRRSzGjg1xbi66RmqvZFONCvs6g9iPdc/edit"><input type="image" src="../images/Click-Here-Button.png" width="100" height="30"></a>
                </div>
</body>
</html>
