<!DOCTYPE html>
<html>
    <head>
       
              <link rel = "stylesheet" href="../css/css.css">
          
       
    </head>
      <body>
          <div class="topnav">
              
              <a  href ="Github.html">Github</a>
              <a  href="app.html">App Tutorial</a>
              <a  class="active" href="stack.html">Stack Tutorial</a>
              <a  href="index.html">Home</a>
              <h2 class="logo">GROUP NAME: AWESOME!</h2>
              
            </div>
            <div class="stack">
                <h2>Stack Tutorial</h2>
                <p> This is a link to the MEAN stack tutorial document that was created for this project. This tutorial will take you through a step by step process on how to set up a MEAN stack on a Google Cloud instance. The MEAN stack is comprised of 4 parts: MongoDB, Express, AngularJS and Node.js.
                    If you would like to view the tutorial, please click on the button below.
                </p>
                <a href="https://docs.google.com/document/d/1m541e1Nkd5TquYAkNdu9SUT-apfWXNpNEg8abqUSinc/edit"><input type="image" src="../images/Click-Here-Button.png"width="100" height="30"></a>
              </div>
</body>
</html>
